<div class="resultatTavla">
	<div class="anvendare">Användare</div>
	<div class="res">{{dinaPoeng}} : {{pcPoeng}}</div>
	<div class="motstoendare">Motståndare</div>
</div>

<p id="resultatText"></p>
<div class="spelAlternativKontainer">
	<div id="sten" class="sida"><img (click) = "raekna('sten')" src="https://drive.google.com/uc?id=1DGOBkvE2o2lZyuKn-KjG4esQYN1SwVwc" alt="sten"></div>
	<div id="sax" class="sida"><img (click) = "raekna('sax')" src="https://drive.google.com/uc?id=1srcFw7D9djwr2K17IPXUOZFeI4SK81hm" alt="sax"></div>
	<div id="pase" class="sida"><img (click) = "raekna('påse')" src="https://drive.google.com/uc?id=1DhnE-DZ5mrnsxiI2xE4-dfuRbM74qYla" alt="påse"></div>
</div>